body { }

#main_header { box-sizing: border-box; position: relative; min-height: calc(100% - 128px); padding: 64px 0px; border-bottom: 1px solid #ccc; background-image: url("../img/bg.png"); text-align: center;}

#main_nav { box-sizing: border-box; height: 128px; background-color: #e0e0e0; box-shadow: 0px 0px 4px #777;}
	#main_nav > a { display: inline-block; vertical-align: top; box-sizing: border-box; width: 33.333%; height: 128px; line-height: 128px; border-left: 1px solid #ccc; font-size: 20px; text-align: center; overflow: hidden; transition: color 250ms ease;}
	#main_nav > a:hover { color: #09f;}
	#main_nav > a:first-child { border-left: none;}

#main { display: block; width: 100%;}
	#main > section { display: block; border-bottom: 1px solid #ccc;}
		#main > section > .max_width { display: block; box-sizing: border-box; max-width: 800px; height: 100%; margin: auto; padding: 20px;}
			#main > section > .max_width > h2 { display: block; margin-bottom: 20px; font-size: 32px;}

	#skills_section { min-height: 500px; background-color: #fafafa;}
		#skills_section h2 { }
		#skills_section p { font-size: 16px;}

	#music_section { min-height: 500px;}

	#contact_section {  background-color: #fafafa;}
		#contact_section > div { }
			#contact_section > div > p { margin-bottom: 20px; font-size: 16px;}
			#contact_section > div > form { display: block;}
				#contact_section > div > form > input[type=text] { display: block; box-sizing: border-box; width: 100%; height: 40px; margin-bottom: 20px; padding: 0px 10px; border: 1px solid #aaa; background-color: #fff;}
				#contact_section > div > form > input[type=email] { display: block; box-sizing: border-box; width: 100%; height: 40px; margin-bottom: 20px; padding: 0px 10px; border: 1px solid #aaa; background-color: #fff;}
				#contact_section > div > form > textarea { display: block; box-sizing: border-box; width: 100%; min-height: 120px; margin-bottom: 20px; padding: 10px; border: 1px solid #aaa; background-color: #fff; resize: vertical;}
				#contact_section > div > form > input[type=submit] { display: inline-block; vertical-align: top; box-sizing: border-box; width: 70%; height: 40px; margin-bottom: 20px; padding: 0px 10px; border: 1px solid #07c; border-bottom: 4px solid #07c; background-color: #09f; color: #fff; cursor: pointer;}
				#contact_section > div > form > input[type=reset] { display: inline-block; vertical-align: top; box-sizing: border-box; width: calc(30% - 20px); height: 40px; margin-bottom: 20px; margin-left: 20px; padding: 0px 10px; border: 1px solid #aaa; border-bottom: 4px solid #aaa; background-color: #eee; color: #333; cursor: pointer;}

#main_footer { background-image: url("../img/bg.png"); text-align: center;}
	#main_footer > p { padding: 20px 0px; font-size: 16px; color: #eee;}
	#main_footer > div { padding-bottom: 20px;}
		#main_footer > div > a { display: inline-block; vertical-align: top; width: 60px; margin: 0px 20px;}
			#main_footer > div > a > img { width: 100%;}